.bandeau {
  margin: 0 auto;
  width: calc(100% - 32px);
  height: 3.3em;
  color: #2b2b2b;
  border: none;
  border-bottom: 1px solid var(--grey2);
  display: flex;
  align-items: center;

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0 8px;
    transition: all 0.2s ease-in-out;
  }
}
