.sidebar {
  width: 13.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1.5em 0;
  margin-right: 0.4em;
  gap: 0.3em;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;

    img {
      width: 45px;
      height: 45px;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-left: 8px;
      color: var(--black);
    }
  }

  .sideicon {
    margin-left: 20px;
    color: var(--black3);
    font-size: 1.2rem;
  }

  h2 {
    margin-left: 30px;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 1;
  }
}
