.SidebarButton {
  width: 95%;
  height: 40px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;

  .active {
    position: absolute;
    height: 70%;
    width: 0.25em;
    margin-left: 0.35em;
    border-radius: 8px;
    background-color: #4488dc;
    transition: var(--transition);
  }
}

.SidebarButton:hover {
  background-color: #edf4ff;
}
