.contentContainer {
  width: 85%;
  height: 98%;
  background-color: var(--white-darker);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 16px;
  position: relative;
  padding: 8px;
  margin-left: -0.5em;

  .content {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    padding: 0.5em;
    border: 1px solid var(--grey2);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    .alert {
      position: absolute;
      top: 2.5em;
      right: 0.75em;
    }

    .lists {
      margin-top: 0.5em;
      width: 100%;
      height: calc(100% - 3.8em);
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: auto;
    }

    .folder,
    .folder__bis,
    .folder__delete {
      width: 230px;
      min-height: 40px;
      box-shadow: 0 0 0 1px var(--grey2);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;
      cursor: pointer;
      padding-left: 10px;
      transition: all 0.1s ease-in-out;

      .folder__name {
        margin: 0 10px;
        font-size: 85%;
        font-weight: 1;
      }
    }

    .folder__bis,
    .folder__delete {
      background-color: var(--grey3);
    }

    .folder:hover {
      background-color: var(--grey3);
    }

    .folder__bis:hover {
      background-color: var(--blue3);
    }

    .folder__delete:hover {
      background-color: var(--red2);
    }

    .field {
      width: 200px;
      height: 200px;
      box-shadow: 0 0 0 1px var(--grey2);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      position: relative;

      .field__value {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s linear;
      }

      .field__icon {
        margin-bottom: 40px;
        font-size: 5rem;
        font-weight: 1;
        color: var(--blue);
      }

      .field__name {
        font-size: 80%;
        font-weight: 1;
      }
    }
    .field:hover {
      .field__value {
        background-color: var(--grey2);
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
