.breadCrumbs {
  margin-left: 1em;
  transition: all 0.2s ease-in-out;

  span {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: var(--black3);
    cursor: pointer;
    transition: 0.2s;
  }

  span:hover {
    color: var(--blue);
  }
}
