@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
}

:root {
  --white: #fff;
  --white2: rgba(255, 255, 255, 0.5);
  --black: #2b2b2b;
  --black3: rgba(43, 43, 43, 0.8);
  --grey: rgb(60, 64, 67);
  --grey2: rgba(60, 64, 67, 0.2);
  --grey3: rgba(60, 64, 67, 0.1);
  --blue: #38a6d1;
  --blue2: rgba(56, 166, 209, 0.5);
  --blue3: rgba(56, 166, 209, 0.3);
  --cyan: #1fb7ba;
  --green: #2ecc71;
  --orange: #f39c12;
  --pink: #e91e63;
  --purple: #9b59b6;
  --red: #e74c3c;
  --yellow: #f1c40f;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  margin: 0;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  70% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
