@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
}

:root {
  --white: #fff;
  --white2: rgba(255, 255, 255, 0.5)
  --black: #000;
  --grey: rgb(231, 231, 229);
  --blue: #38a6d1;
  --blue2: rgba(56, 166, 209, 0.5);
  --cyan: #1fb7ba;
  --green: #2ecc71;
  --orange: #f39c12;
  --pink: #e91e63;
  --purple: #9b59b6;
  --red: #e74c3c;
  --yellow: #f1c40f;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
