.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 2%;

  .item {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 15%;
      margin-left: 5px;
    }

    h2 {
      font-size: 14px;
      font-weight: 600;
      margin-left: 10px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0;
    color: var(--cyan);
  }
}
